.App {
  background-color: #333;
  width: 100%;
  height: max-content;
}

button.lightMode,
.lightMode {
  background-color: #ccc;
  color: black;
}

button.darkMode,
.darkMode {
  background-color: grey;
  color: white;
}